@import "tailwindcss";

@layer base {
  body {
    @apply bg-white min-h-screen;
    background-attachment: fixed;
  }
}

@layer utilities {
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}